body {
  background-color: black;
  text-align: center;
  font-family Verdana;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

#download {
  color: AquaMarine;
  font-size: 16px;
}

a {
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  color: gray;
  font-size: 21px;
}

#copyright {
  text-align: right;
  color: gray;
}
